#root {
  margin: 0px;
  font-size: 1rem;
  font-family: sans-serif;
}



header {
  border: 1px solid rgb(207, 206, 206);
  border-radius: 15px;
  background-color: rgba(12, 97, 94, 0.514);
  box-shadow: 1px 1px 3px #b9b5b5; 
}

header img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
  padding: 20px;

}
header div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  font-size: 1rem;
  font-family: sans-serif;
}




main {
  background-color: #eee;
  border: 1px solid rgb(207, 206, 206);
  border-radius: 15px;
  margin: 20px;
  
}

main div ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 25px 25px;
  margin-left: 0;
  border-radius: 15px;
  padding-left: 10px;
  padding-right: 10px;


}

main div ul li {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: #b9d0dd;
    color: #161313;
    box-shadow: 2px 2px 5px #b9b5b5;
    border-radius: 5px;
}

li h2 {
    color: #641c1c;
    font-size: 1.3rem;
    text-align: center;
    margin-bottom: 5px;

}
li h3 {
  color: #641c1c;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 10px;

}
li img {
  border-radius: 15px;
}
li div {
  display: none;
}

li div.showSummary {
  display: block;
}

li p {
  text-align: center;
  padding: 5px;
}

footer {
  border-radius: 10px;
  border: 1px solid rgb(207, 206, 206);
  background-color: rgba(241, 222, 109, 0.514);
  padding: 20px;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.1rem;
}
footer a {
  text-decoration: none;
}

footer a:hover {
  color: #161313;
}



